/* NotFound.css */
.not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f7f7;
  }
  
  .not-found-content {
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .baslik {
    color: #ff4040;
    font-size: 2rem;
  }
  
  .paragraf {
    font-size: 1.2rem;
  }
  
  .link {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
    font-size: 1.2rem;
  }
  